*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  max-width: 1320px;
  margin: auto;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}
img {
  width: 100%;
}

.project__list {
 background-color:green;
}

.alexandr {
  background-color: red;
}

body {
  background-color: black;
}

