*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  max-width: 1856px;
  margin: auto;
  background-color: #1B1B1B;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}
img {
  width: 100%;
}

.question__page {
  padding: 80px 268px;
  background-image: url(../images/wrapper.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.question__title {
  font-family: "Gilroy Regular", sans-serif;
  font-size: 40px;
  line-height: 120%; /* 48px */
  color: var(--gray-gray-3, #f5f5f5);
}
.question__text {
  font-family: "Gilroy Regular", sans-serif;
  line-height: 130%; /* 31.2px */
  font-size: 24px;
  color: var(--gray-gray-7, #8c8c8c);
  margin-bottom: 24px;

}

.search-form-__textfield {
  font-family: "Gilroy Regular", sans-serif;
  font-size: 24px;
  line-height: 100%;
  border-radius: 8px;
  border: 1px solid var(--gray-gray-4, #f0f0f0);
  background: var(--gray-gray-1, #fff);
  padding: 16px;
  cursor: pointer;
  width: 320px;
}
.search-form-__numberfield {
  font-family: "Gilroy Regular", sans-serif;
  font-size: 24px;
  line-height: 100%;
  border-radius: 8px;
  border: 1px solid var(--gray-gray-4, #f0f0f0);
  background: var(--gray-gray-1, #fff);
  padding: 16px;
  cursor: pointer;
  width: 320px;
}
.nav__question-menu {
  display: flex;
  column-gap: 16px;
}
.question-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  width: 320px;
  background: var(
    --bg5,
    linear-gradient(
      220deg,
      #7aca37 15.98%,
      #70c53a 28.3%,
      #56b641 48.98%,
      #2c9f4e 75.34%,
      #098c58 94.49%
    )
  );
  cursor: pointer;
}
.text-button {
  color: var(--gray-gray-1, #fff);
  font-family: "Circe Regular", sans-serif;
  font-size: 24px;
  line-height: 32px; /* 133.333% */
}
.img-button {
  width: 16px;
  height: 16px;
}
.search-form-__textfield:focus {
  outline: none;
}

.application {
  max-width: 1856px;
  min-height: 325px;
  background-color: #1B1B1B;
  display: flex;
  align-items: center;
  background-image: url('/images/background-bird.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 70px;
}

.form {
  padding-left: 268px;
  padding-top: 16px;
}

.form__title {
  font-family: "Gilroy Regular", sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 10px;
  color:#F5F5F5;
}

.form__text {
  font-family: "Gilroy Regular", sans-serif;
  font-size: 24px;
  line-height: 75px;
  color: #8C8C8C;
}

.form__input {
  display: flex;
  gap: 17px;
}

.form__input-item {
  font-family: "Gilroy Regular", sans-serif;
  font-size: 24px;
  width: 320px;
  height: 64px;
  padding-left: 16px;
  border-radius: 8px;
  border: none;
}

.form__button {
  font-family: "Circe Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #FFFFFF;
  width: 320px;
  height: 64px;
  padding: 16px, 32px, 16px, 32px;
  border-radius: 8px;
  background: linear-gradient(220.19deg, #7ACA37 15.98%, #70C53A 28.3%, #56B641 48.98%, #2C9F4E 75.34%, #098C58 94.49%);
  border: none;
}

.form__input-item:hover,
.form__input-item:focus {
  outline: 5px solid gray;
  cursor: pointer;
}

.form__button:hover,
.form__button:focus {
  outline: 5px solid green;
  cursor: pointer;
}

.video__project {
  max-width: 1856px;
  min-height: 968px;
  padding: 160px 268px;
  gap: 38px;
  background-color: #121212;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 3em;
}

.video__project-item {
  grid-area: 1 / 1 / 3 / 3;
  width: 100%;
  height: 100%;
}

.video__project-text {
  font-family: "Gilroy Regular", sans-serif;
  font-size: 24px;
  line-height: 31px;
  letter-spacing: 0;
  text-align: left;
  color: #8C8C8C;
  width: 384px;
  height: 184px;
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.video__project-img {
  width: 96px;
  height: 96px;
  margin-top: 18px;
}

.video__project_text-item {
  gap: 8px;
  padding-top: 35px;
}

.video__project_text-garant {
  align-self: center;
  width: 220px;
  padding-bottom: 70px;
}

.video__project_text-best {
  width: 180px;
}

.video__project_text-experience {
  width: 220px;
}

.video__project_text-control {
  padding-top: 14px;
}

.video__project_img-garant {
  margin-top: 25px;
}

.video__project_img-control {
  margin: 0;
}

.video__project_img_timer-treaty {
  margin-right: 41px;
}

.video__project-text1 {
  border-bottom: 4px solid #1B1B1B;
}

.video__project-text3,
.video__project-text4 {
  border-right: 4px solid #1B1B1B;
  height: 144px;
  width: 430px;
}

#video-container {
  position: relative;
  width: 896px;
  height: 464px;
}

#video-poster {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

#video-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.project__list {
  max-width: 1856px;
  min-height: 747px;
  background-color: #121212;
  font-family: "Gilroy Regular", sans-serif;
  font-size: 40px;
  letter-spacing: 0em;
  color: #F5F5F5;
  padding: 33px 268px 160px;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-row-gap: 39px;
}

.project__list_rating {
  display: flex;
  grid-column-gap: 41px;
}

.project__list_rating-img {
  width: 87px;
  height: 52px;
  margin-bottom: 2px;
}

.project__list_numbers-img {
  width: 109px;
  height: 58px;
  margin-top: 2px;
}

.project__list_photo-img {
  width: 75px;
  height: 75px;
  margin-left:48px;
  margin-top: 33px;
}

.project__list_button {
  color: #FFFFFF;
  background-color: #3321BC;
  width: 411px;
  height: 63px;
  border-radius: 8px;
  text-align: center;
  font-family: "Gilroy Regular", sans-serif;
  font-size: 24px;
  letter-spacing: 0em;
  cursor: pointer;
  border: none;
}

.project__list_review-title {
  display: flex;
}

.project__list_review {
  height: 371px;
}

.project__list_review_title-item {
  font-size: 80px;
  padding-left: 39px;
  padding-top: 24px;
  font-family: 'Gilroy Regular', sans-serif;
  font-size: 80px;
  font-weight: 500;
  letter-spacing: 0em;
}

.project__list_review-text {
  color: #8C8C8C;
  font-family: "Gilroy Medium", sans-serif;
  font-size: 24px;
  font-weight: 500;
  padding-left: 162px;
  padding-top: 18px;
  max-width: 1280px;
}

.project__list_button:hover,
.project__list_button:focus {
  outline: 5px solid rgb(109, 109, 255);
  cursor: pointer;
}
.y2 {
  display: none;
}

.project__slider {
  background-color: #1B1B1B;
  border-radius: 8px;
  grid-column: 1/3;
  height: 371px;
}

.slider__navigation2 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

/* .slider__navigation-bar {
  height: 8px;
  width: 30px;
  margin: 6px;
  cursor: pointer;
  background-color: #ddd;
  opacity: 0.5;
  border-radius: 10px;
  transition: all .4s ease;
} */

.slider__navigation-bar:hover {
  opacity: 0.8;
  transform: scale(1.1);
  cursor: pointer;
}

input[name="t"] {
  position: absolute;
  visibility: hidden;
}

#t1:checked ~ #controls label:nth-child(2), 
#t2:checked ~ #controls label:nth-child(1) {
  background: url('/images/Frame\ 360.png') no-repeat;
  position: absolute;
  bottom: 158px;
  left: 635px;
  height: 50px;
  width: 50px;
}

#t2:checked ~ #controls label:nth-child(1) {
  background: url('/images/Frame\ 362.png') no-repeat;
}

.search-form-__textfield:focus-visible {
  outline: 1px solid yellowgreen;
  outline-offset: 5px;
}
.search-form-__numberfield:focus {
  outline: none;
}
.search-form-__numberfield:focus-visible {
  outline: 1px solid yellowgreen;
  outline-offset: 5px;
}

.question-button:focus-visible {
  outline: 1px solid yellowgreen;
  outline-offset: 5px;
}

/* ----------------HEADER STYLES START------------------------ */
:root {
  --header-bg: #1b1b1b;
  --accent-bg: linear-gradient(
    220deg,
    #7aca37 15.98%,
    #70c53a 28.3%,
    #56b641 48.98%,
    #2c9f4e 75.34%,
    #098c58 94.49%
  );
  --grey-color: #262626;
  --grey-color-2: #595959;
  --midi-grey-color: #8c8c8c;
  --light-grey-color: #f5f5f5;
  --light-grey-color-2: #bfbfbf;
  --accent-orange-color: #fa541c;
  --white-color: #fff;
  --white-color-2: #f0f0f0;
}

.header__info {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  align-items: center;
  padding: 24px 268px;
  background-color: var(--header-bg);
}

.header__logo-link {
  display: block;
  inline-size: 104.54px;
  block-size: 40px;
}
.header__logo-image {
  inline-size: 100%;
  block-size: 100%;
}

.header__form {
  inline-size: 440px;
  block-size: 32px;
}

.header__form-input {
  inline-size: 440px;
  background-color: transparent;
  border: none;
  position: relative;
  padding: 4px 0;
  font-family: "Proxima Nova" sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  color: var(--midi-grey-color);
  cursor: pointer;
}

.header__form-input:focus {
  outline: none;
}

.header__form-input:focus-visible {
  outline: 1px solid var(--midi-grey-color);
  outline-offset: 4px;
  border-radius: 3px;
}

.header__form::after {
  content: "";
  width: 440px;
  height: 2px;
  background-color: var(--grey-color);
  position: absolute;
  left: 413px;
  top: 63px;
}

.header__form::before {
  content: url(../images/header/header-search.png);
  position: absolute;
  top: 34px;
  left: 834px;
}

.header__button {
  font-family: "Circe Regular";
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  padding: 4px 24px;
  border-radius: 8px;
  color: var(--grey-color);
  background: var(--accent-bg);
  inline-size: 176px;
  block-size: 40px;
  border: none;
  white-space: nowrap;
  cursor: pointer;
}

.header__address {
  color: var(--light-grey-color);
  display: flex;
  align-items: center;
  gap: 40px;
  font-family: "Gilroy Regular";
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 130%;
}

.header__address-flex-item {
  white-space: nowrap;
}

.headder__address-flex-item {
  text-align: right;
}

.header__adddress-phone {
  color: var(--light-grey-color);
  font-family: "Gilroy Relative" sans-serif;
  text-decoration: none;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  position: relative;
}

.header__adddress-phone::before {
  content: url(../images/header/watsup-ico.svg);
  position: absolute;
  left: -27px;
}

.headder__form-working-hours {
  color: var(--midi-grey-color);
  font-family: "Circe Relative" sans-serif;
  text-align: right;
  font-size: 11.5px;
  font-weight: 400;
  line-height: 166.667%;
  white-space: nowrap;
  inline-size: 176px;
}

.header__menu {
  inline-size: 100%;
  background: var(--accent-bg);
}

.header__nav {
  padding: 12px 268px;
}
.header__list {
  display: flex;
  justify-content: space-between;
}

.header__list-item {
  color: var(--grey-color);
  font-family: "Gilroy Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 130%;
  position: relative;
  display: flex;
  gap: 55px;
  display: flex;
  justify-content: center;
}

.header__list-item::after {
  content: "";
  inline-size: 1px;
  block-size: 100%;
  background-color: var(--grey-color);
}

.header__list-item:last-child::after {
  display: none;
}

.header__link {
  text-decoration: none;
  color: inherit;
  white-space: nowrap;
}

.dropdown-menu {
  white-space: nowrap;
  cursor: pointer;
  position: relative;
}

.dropdown-menu .header__link::before {
  content: "";
  position: absolute;
  inline-size: 10px;
  block-size: 8px;
  top: 10px;
  right: 40px;
  background: url(../images/header/arrow-down.svg) no-repeat;
}

.dropdown__list {
  position: absolute;
  top: 24px;
  left: -50px;
  padding: 24px;
  background: var(--accent-bg);
  display: none;
}

.dropdown-list--position {
  left: -10px;
}

.dropdown-menu:hover .dropdown__list {
  display: block;
}

.dropdown__list:hover {
  display: block;
}

.dropdown__list-item {
  width: 100%;
  margin-bottom: 16px;
}

.dropdown__list-link:hover {
  color: var(--accent-orange-color);
}

.dropdown__list-item:last-child {
  margin-bottom: 0;
}

.dropdown__list-link {
  color: var(--grey-color);
  font-family: "Gilroy Regular", sans-serif;
  font-size: 18px;
  line-height: 130%;
  text-decoration: none;
}

/* ----------------HEADER STYLES END------------------------ */

/* ----------------HERO STYLES START-------------------------- */

.hero {
  padding: 80px 268px;
  background: url(../images/hero/hero\ bg.jpg) no-repeat center / cover;
  display: flex;
  flex-direction: column;
  gap: 84px;
}
.hero__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 110px;
}
.hero__text-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.hero__subtitle {
  color: var(--midi-grey-color);
  font-family: "Gilroy Relative", sans-serif;
  font-size: 24px;
  line-height: 130%;
}

.hero__title {
  color: var(--light-grey-color);
  font-family: "Gilroy Bold", sans-serif;
  font-size: 120px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 120px */
}

.form__wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  border-radius: 8px;
  background: rgba(27, 27, 27, 0.82);
  padding: 24px 52px;
  position: relative;
}

.form__titile {
  color: var(--midi-grey-color);
  font-family: "Gilroy Regular", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 28.8px */
}
.form__accent-span {
  color: var(--accent-orange-color);
  font-family: "Gilroy Extra Bold", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: 120%;
}

.hero__form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.hero__select {
  display: flex;
  width: 320px;
  padding: 16px;
  align-items: center;
  gap: 4px;
  border-radius: 8px;
  border: 1px solid var(--white-color-2);
  background: var(--white-color);
  color: var(--grey-color-2);
  color: var(--grey-color-2);
  font-family: "Gilroy Regular", sans-serif;
  font-size: 24px;
  line-height: 100%;
  appearance: none;
}

.form__wrapper::before {
  content: "";
  position: absolute;
  inline-size: 16px;
  block-size: 8px;
  top: 156px;
  right: 68px;
  background: url(../images/hero/arrow-down-grey.svg) no-repeat;
}

.hero__input {
  width: 320px;
  border: 1px solid var(--white-color-2);
  border-radius: 8px;
  padding: 12px 16px;
  color: var(--light-grey-color-2);
  font-family: "Gilroy Relative", sans-serif;
  font-size: 24px;
  line-height: 100%;
}

.hero__button {
  padding: 16px 32px;
  border-radius: 8px;
  background: var(--accent-bg);
  border: none;
  inline-size: 320px;
  font-family: "Circe Regular", sans-serif;
  font-size: 24px;
  line-height: 133.3%;
  color: var(--white-color);
}

.form__subtitle {
  color: var(--grey-color-2);
  font-family: "Gilroy Regular", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
}
.hero__consults {
  display: flex;
  gap: 84px;
}
.hero__consults-item {
  padding: 24px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  position: relative;
}

.hero__consults-item::after {
  content: "";
  inline-size: 4px;
  block-size: 144px;
  background: var(--header-bg);
  position: absolute;
  left: 424px;
}

.hero__consults-item:last-child::after {
  display: none;
}

.hero__consults-description {
  color: var(--midi-grey-color);
  font-family: "Gilroy Regular", sans-serif;
  font-size: 24px;
  line-height: 130%;
  width: 256px;
  padding-right: 40px;
}
.hero__consults-image {
  inline-size: 96px;
  block-size: 96px;
}

/* ----------------HERO STYLES END-------------------------- */
.about {
  background-image: url(../images/wrapper-down.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 268px;
  display: flex;
  justify-content: space-between;
  background-color: #121212;
  gap: 40px;
}
.about__menu-nav:not(:last-child) {
  padding-bottom: 10px;
}
.about__menu-link {
  text-decoration: none;
  font-size: 16px;
  line-height: 130%; /* 20.8px */
  font-family: "Gilroy Regulat", sans-serif;
  color: var(--gray-gray-1, #fff);
}
.about__title {
  padding-bottom: 24px;
  font-family: "Gilroy Medium";
  color: var(--gray-gray-1, #fff);
  font-size: 32px;
  font-weight: 500;
}
.navigation {
  width: 640px;
  padding-left: 297px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 24px;
  flex: 1 0 0;
}
.title-right {
  font-family: "Gilroy Medium", sans-serif;
  line-height: 130%; /* 52px */
  font-size: 40px;
  color: var(--gray-gray-3, #f5f5f5);
  text-align: right;
}
.title-right-low {
  font-family: "Gilroy Medium", sans-serif;
  line-height: 130%; /* 31.2px */
  font-size: 24px;
  color: var(--gray-gray-3, #f5f5f5);
  text-align: right;
  white-space: nowrap;
}
.text-right {
  color: var(--gray-gray-7, #8c8c8c);
  text-align: right;
  font-family: "Circe Regular", sans-serif;
  font-size: 16px;
  line-height: 20px; /* 125% */
}
.one {
  width: 279px;
}
.two {
  width: 321px;
}
.title-down{
  padding-top: 24px;
}
.footer_logo{
width: 32px;
height: 32px;
}
.footer-logo-left{
width: 104.54px;
height: 40px;
}
.footer{
display: flex;
justify-content: space-between;
padding: 40px 268px;
align-items: center;
gap: 80px;
align-items: stretch;
background-color: #121212;
}
.footersocial-list-item{
  display: flex;
  gap: 24px;
}

.footer-click{
  text-decoration: none;
  color: var(--gray-gray-7, #8C8C8C);
  font-family: "Gilroy Regular", sans-serif;
  font-size: 16px;
  line-height: 130%; 
}

.search-form-__textfield {
  font-family: "Gilroy Regular", sans-serif;
  font-size: 24px;
  line-height: 100%;
  border-radius: 8px;
  border: 1px solid var(--gray-gray-4, #f0f0f0);
  background: var(--gray-gray-1, #fff);
  padding: 16px;
  cursor: pointer;
  width: 320px;
}
.search-form-__numberfield {
  font-family: "Gilroy Regular", sans-serif;
  font-size: 24px;
  line-height: 100%;
  border-radius: 8px;
  border: 1px solid var(--gray-gray-4, #f0f0f0);
  background: var(--gray-gray-1, #fff);
  padding: 16px;
  cursor: pointer;
  width: 320px;
}
.nav__question-menu {
  display: flex;
  column-gap: 16px;
}
.question-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  width: 320px;
  background: var(
    --bg5,
    linear-gradient(
      220deg,
      #7aca37 15.98%,
      #70c53a 28.3%,
      #56b641 48.98%,
      #2c9f4e 75.34%,
      #098c58 94.49%
    )
  );
  cursor: pointer;
}
.text-button {
  color: var(--gray-gray-1, #fff);
  font-family: "Circe Regular", sans-serif;
  font-size: 24px;
  line-height: 32px; /* 133.333% */
}
.img-button {
  width: 16px;
  height: 16px;
}
.search-form-__textfield:focus {
  outline: none;
}

.search-form-__textfield:focus-visible {
  outline: 1px solid yellowgreen;
  outline-offset: 5px;
}
.search-form-__numberfield:focus {
  outline: none;
}
.search-form-__numberfield:focus-visible {
  outline: 1px solid yellowgreen;
  outline-offset: 5px;
}

.question-button:focus-visible {
  outline: 1px solid yellowgreen;
  outline-offset: 5px;
}

.bankruptcy {
  display: flex;
  flex-direction: column;
  gap:40px ;
}

.bankruptcy__services {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bankruptcy__services__title {
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
  width: 433px;
}

.bankruptcy__btn-block {
  display: flex;
  gap: 24px;
}


.bankruptcy__btn-individual {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  line-height: 31px;
  padding: 16px 32px;
  background-color: rgba(51, 33, 188, 1);
  border-radius: 10px;
}

.bankruptcy__btn-entity {
  text-decoration: none;
  color: #000;
  font-size: 24px;
  font-weight: 400;
  line-height: 31px;
  padding: 16px 32px;
  background-color: #fff;
  border-radius: 10px;
}

.bankruptcy__img {
  width: 592px;
  height: 468px;
}

.slide__wrapper {
  display: flex;
  gap: 40px;
  background-color: rgba(27, 27, 27, 1);
  padding: 32px 48px;
  height: 100%;
}

.slide__text-block {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.bankruptcy__title {
  font-size: 75px;
  font-weight: 500;
  line-height: 80px;
}

.bankruptcy__text {
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  color: rgba(140, 140, 140, 1);
  margin-bottom: 40px;
}

.bankruptcy__btn {
  width: 294px;
  padding: 16px 40px;
  background: linear-gradient(220.19deg, #7ACA37 15.98%, #70C53A 28.3%, #56B641 48.98%, #2C9F4E 75.34%, #098C58 94.49%);
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Circe Regular",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.08em;
  border-radius: 8px;
}

.bankruptcy__slider {
  position: relative;
  width: 1320px;
  height: 560px;
  overflow: hidden;
}

.slider__navigation {
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.bar {
  opacity: .5;
  cursor: pointer;
  transition: all .4s ease;
}

.bar:hover {
  transform: scale(1.1);
}


.slider__navigation-bar:hover {
  opacity: 0.8;
  transform: scale(1.1);
  cursor: pointer;
}

input[name="r"] {
  position: absolute;
  visibility: hidden;
}

.slides-list {
  width: 300%;
  height: 100%;
  display: flex;
}

.slide {
  width: 33%;
  transition: all .6s ease-in;
}

#r1:checked ~ .s1 {
  margin-left: 0;
}

#r2:checked ~ .s1 {
  margin-left: -33%;
}

#r3:checked ~ .s1 {
  margin-left: -66%;
}

#r1:checked ~ .slider__navigation label:nth-child(2),
#r2:checked ~ .slider__navigation label:nth-child(3) {
  background: url('../images/arrow.svg') no-repeat;
  background-size: cover;
  position: relative;
  top: -250px;
  left: 630px;
  height: 40px;
  width: 40px;
}


#r3:checked ~ .slider__navigation label:nth-child(1) {
  background: url('../images/arrow.svg') no-repeat;
  background-size: cover;
  transform: rotate(180deg);
  position: relative;
  top: -250px;
  left: 630px;
  height: 40px;
  width: 40px;
}

.clients {
  background-image: url('/images/bg_individual_clients.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  gap: 40px;
}

.clients__image-block {
  display: flex;
  flex-direction: column;
}


.content-section {
  margin: 0 auto;
  padding: 80px 268px 160px 268px;
  color: #fff;
  font-family: "Gilroy Regular", sans-serif;
}

.news.content-section {
  padding: 80px 268px 0 268px;
}


.clients__image {
  width: 419px;
  height: 518px;
  margin-bottom: 16px;
  margin-top: 47px;
}

.clients__subtitle-name {
  font-size: 24px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: center;
}

.clients__subtitle-profession {
  color: #d9d9d9;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
}

.clients__content-title {
  font-size: 80px;
  line-height: 80px;
  font-weight: 500;
  text-align: left;
} 

.clients__content {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.advantages__subtitle {
  color: #8C8C8C;
  font-size: 24px;
  font-weight: 400;
  line-height: 31px;
  text-align: left;
  width: 314px;  
}

.advantages {
  display: flex;
  gap: 40px;
}

.advantages__wrapper {
  display: flex;
  gap: 32px;
}

.advantages__icon {
  width: 64px;
  height: 64px;
  align-self: center;
}

.advantages__text {
  color: #8C8C8C;
  font-size: 32px;
  font-weight: 500;
  line-height: 38px;
  text-align: left;
}

.advantages__btn {
  display: block;
  width: 234px;
  font-family: "Circe Regular", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.08em;
  text-align: center;
  color: #fff;
  padding: 16px 40px;
  text-decoration: none;
  text-transform: uppercase;
  background: linear-gradient(220.19deg, #7ACA37 15.98%, #70C53A 28.3%, #56B641 48.98%, #2C9F4E 75.34%, #098C58 94.49%);
  border-radius: 8px;
}

.debts {
  background-color: rgba(27, 27, 27, 1);
}

.debts__title {
  font-size: 80px;
  font-weight: 500;
  line-height: 80px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 40px;
}

.circle {
  position: relative;
  width: 45px; 
  height: 45px;
  background: linear-gradient(220.19deg, #7ACA37 15.98%, #70C53A 28.3%, #56B641 48.98%, #2C9F4E 75.34%, #098C58 94.49%);
  border-radius: 50%;
  font-size: 40px;
  font-weight: 800;
  line-height: 40px;
  text-align: center;
  font-family: "Circe Regular", sans-serif;
}

.debts__circle::before {
  position: absolute;
  content: "1";
  top: 5px;
  left: 15px;
}

.debts__circle_2::before {
  position: absolute;
  content: "2";
  top: 5px;
  left: 12px;
}

.debts__circle_3::before {
  position: absolute;
  content: "3";
  top: 5px;
  left: 12px;
}

.debts__circle_4::before {
  position: absolute;
  content: "4";
  top: 5px;
  left: 12px;
}

.debts__circle_5::before {
  position: absolute;
  content: "5";
  top: 5px;
  left: 12px;

}

.debts__subtitle {
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    text-align: center;
}

.debts__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  color: rgba(140, 140, 140, 1);
}

.debts__list {
  display: flex;
  gap: 40px;
}

.debts__item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 232px;
  align-items: center;
}

.small-circle {
  position: relative;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.debts__circle-small {
  background-color: rgba(24, 144, 255, 1);
}

.debts__circle-small::before {
  position: absolute;
  content: "";
  width: 108px;
  height: 3px;
  background-color: rgba(24, 144, 255, 1);
  top: 2px;
  left: 15px;
}

.debts__circle-small_2 {
  background-color: rgba(24, 144, 255, 1);
}

.debts__circle-small_2::before {
  position: absolute;
  content: "";
  width: 108px;
  height: 3px;
  background-color: rgba(24, 144, 255, 1);
  top: 2px;
  right: 15px;
}

.debts__circle-small_2::after {
  position: absolute;
  content: "";
  width: 108px;
  height: 3px;
  background: linear-gradient(90deg, rgba(24, 144, 255, 1), rgba(250, 84, 28, 1));
  top: 2px;
  left: 15px;
}

.debts__circle-small_3 {
  background-color: #FA541C;
}

.debts__circle-small_3::before {
  position: absolute;
  content: "";
  width: 108px;
  height: 3px;
  background-color: #FA541C;
  top: 2px;
  right: 15px;
}

.debts__circle-small_3::after {
  position: absolute;
  content: "";
  width: 108px;
  height: 3px;
  background-color: #FA541C;
  top: 2px;
  left: 15px;
}

.debts__circle-small_4 {
  background-color: #389E0D;
}


.debts__circle-small_4::before {
  position: absolute;
  content: "";
  width: 108px;
  height: 3px;
  background: linear-gradient(90deg, rgba(250, 84, 28, 1), rgba(56, 158, 13, 1));
  top: 2px;
  right: 15px;
}

.debts__circle-small_4::after {
  position: absolute;
  content: "";
  width: 108px;
  height: 3px;
  background-color: #389E0D;
  top: 2px;
  left: 15px;
}

.debts__circle-small_5 {
  background-color: #389E0D;
}

.debts__circle-small_5::before {
  position: absolute;
  content: "";
  width: 108px;
  height: 3px;
  background-color: #389E0D;
  top: 2px;
  right: 15px;
}

.news__title-block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  align-items: center;
}

.news__title {
  font-size: 80px;
  font-weight: 500;
  line-height: 80px;
  text-align: left;
}

.news__btn {
  padding: 16px 32px;
  text-decoration: none;
  color: #fff;
  background-color: rgba(51, 33, 188, 1);
  border-radius: 8px;
  font-size: 24px;
  font-weight: 400;
  line-height: 31px;
}

.news__block__active {
  background: linear-gradient(220.19deg, #7ACA37 15.98%, #70C53A 28.3%, #56B641 48.98%, #2C9F4E 75.34%, #098C58 94.49%);
  width: 640px;
}

.news__block__article {
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.news__block__active-title {
  font-size: 40px;
  font-weight: 500;
  line-height: 44px;
  text-align: left;
}

.news__block__active-text {
  font-size: 24px;
  font-weight: 400;
  line-height: 31px;
  text-align: left;
}

.news__block {
  display: flex;
  gap: 40px;
}

.new__block__acitve-image {
  width: 640px;
  height: 549px;
}

.news__list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.news__list-item {
  display: flex;
  flex-direction: column;
  background-color: rgba(27, 27, 27, 1);
}

.news__list-item__image {
  max-width: 640px;
  height: 236px;
}

.news__list-text-block {
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.news__list-item__title {
  font-size: 24px;
  font-weight: 500;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: left;
}

.news__list-item__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}

.about {
  background-image: url(../images/wrapper-down.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 268px;
  display: flex;
  justify-content: space-between;
  background-color: #121212;
  gap: 40px;
}
.about__menu-nav:not(:last-child) {
  padding-bottom: 10px;
}
.about__menu-link {
  text-decoration: none;
  font-size: 16px;
  line-height: 130%; /* 20.8px */
  font-family: "Gilroy Regulat", sans-serif;
  color: var(--gray-gray-1, #fff);
}
.about__title {
  padding-bottom: 24px;
  font-family: "Gilroy Medium";
  color: var(--gray-gray-1, #fff);
  font-size: 32px;
  font-weight: 500;
}
.navigation {
  width: 640px;
  padding-left: 297px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 24px;
  flex: 1 0 0;
}
.title-right {
  font-family: "Gilroy Medium", sans-serif;
  line-height: 130%; /* 52px */
  font-size: 40px;
  color: var(--gray-gray-3, #f5f5f5);
  text-align: right;
}
.title-right-low {
  font-family: "Gilroy Medium", sans-serif;
  line-height: 130%; /* 31.2px */
  font-size: 24px;
  color: var(--gray-gray-3, #f5f5f5);
  text-align: right;
  white-space: nowrap;
}
.text-right {
  color: var(--gray-gray-7, #8c8c8c);
  text-align: right;
  font-family: "Circe Regular", sans-serif;
  font-size: 16px;
  line-height: 20px; /* 125% */
}
.one {
  width: 279px;
}
.two {
  width: 321px;
}
.title-down{
  padding-top: 24px;
}
.footer_logo{
width: 32px;
height: 32px;
}
.footer-logo-left{
width: 104.54px;
height: 40px;
}
.footer{
display: flex;
justify-content: space-between;
padding: 40px 268px;
align-items: center;
gap: 80px;
align-items: stretch;
background-color: #121212;
}
.footersocial-list-item{
  display: flex;
  gap: 24px;
}
.footer-click{
  text-decoration: none;
  color: var(--gray-gray-7, #8C8C8C);
  font-family: "Gilroy Regular", sans-serif;
  font-size: 16px;
  line-height: 130%; /* 20.8px */
}